.tableContainer {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 12px;
    font-weight: 500;
    color: gray;
    font-size: 16px;
  }

  .table {
    padding: 0px;
    margin-bottom: 10px;
  }
  .link {
    font-size: 12px;
    border-bottom: 1px solid gray;
    width: max-content;
    cursor: pointer;
    color: black;
  }
}
